/* You can add global styles to this file, and also import other style files */
html {

}
.xng-breadcrumb-root {
  padding: 8px;
  display: inline;
  border-radius: 0;
}
label.xng-breadcrumb-trail{
  margin-bottom: 0;
  color: #2563EB;
}
.xng-breadcrumb-seperator {
  padding: 0 0;
}
