.cart-no{
  position: absolute;
  min-height: 25px;
  min-width: 25px;
  border-radius: 50%;
  font-size:1em;
  background: #2563EB;
  color: white;
  text-align: center;
  top: 10px;
  right: 530px;
}

a {
  text-decoration: none;

  &.active {
    color: #2563EB;
  }
}
.logo{
  cursor: pointer;
  &:focus{
    outline: none;
  }
}
#sortbox:checked ~ #sortboxmenu {
  opacity: 1;
}
